language: node_js
node_js:
  - 0.10
  - 4
  - 5
  - 6
  - 7
install:
  - npm install .
  - npm install -g qnit
after_success:
  - npm install -g nyc
  - npm install -g codecov
  - nyc --reporter lcov npm test && codecov
